
/* Barre de navigation */
.nav{
    max-width:100%;
}    

/* Home */
#home{
    
    height: 620px;
}
.title{
    width: 600px;
    margin: auto;
    padding-top: 1em;
    margin-top: 0em;
    text-align: center;
    font-family: "arvo";
    font-size: 2.5em;
    color: white;
}
.subtitle{
    width: 700px;
    margin: auto;
    margin-top: 1.5em;
    text-align: center;
    font-family: "arvo";
    font-size: 1.1em;
    color: white;
}
#home button{
    margin-top: 2em;
    font-size: 25px;
    padding: 20px 20px;  
}

/* #Who */
#who figure{
    margin-top: 0px;
    padding-top: 60px;
}

#who img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.titleWho{
    width: 800px;
    margin: auto;
    padding-top: 0.5em;
    margin-top: 0em;
    text-align: center;
    font-family: "arvo";
    font-size: 1.2em;
    color: #000000;}


/* #get-involved */
#get-involved{
    
    background-color: honeydew;
    margin-left: auto;
    margin-right: auto;
    margin-top: -20px;
    height: 1330px;
    width:991px;}

.left{
    padding-top: 20px;
    float: none;
    height: 360px;
    text-align: center;  
    width: 100%;}

.middle{
    padding-top: 20px;
    float: none;
    height: 360px;
    width: 100%;
    text-align: center;}

.right{
    padding-top: 20px;
    float: none;
    height: 360px;
    width: 100%;
    text-align: center;}

/* Footer */
footer{
    clear: both;
    max-width: 100%;
    background-color:orangered;
    margin: auto;
    width:1199px;
    height: 200px;}

footer img{
    height: 100px;
    width: 350px;
    margin-top: 80px;
    margin-left: 10px;}

footer i{
    float: right;
    margin-top: 130px;
    margin-right: 20px;}

.barreHr{
    color:rgb(240, 63, 63);
    margin-left: 330px;
    margin-right: 330px;
    margin-bottom: 30px;}
